*.aux
*.bbl
*.blg
*.brf
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.lof
*.log
*.lop
*.lot
*.out
anderson-phd.pdf
*.synctex.gz
*.toc
csthesis.dtx
csthesis.ins
csthesis.sty
template/*
Defence_guidelines.pdf
ExamPhD.pdf
timeline.md
Session.vim
blackswans/analysis/*.pdf
blackswans/analysis/sparks/*.pdf
ExamPhD_Anderson.pdf
_Defence_guidelines.pdf
abstract.tex
ack.tex
ack.md
*.key
branch-signature.pdf
comittee-emails.docx
cooper-signature.pdf
draft-abstract.docx
gerber-cv.pdf
introduction-discussion.mindnode/*
moore-signature.pdf
todo.md
abstract.tex
introduction.tex
discussion.tex

anderson-abstract.docx

anderson-cv.docx

*.docx
